<div *ngFor="let data of post" class="container-fluid row justify-content-center">
    <h5 class="mt-0 display-3 text-center">{{ data.title | titlecase }}</h5>
    <div class="row no-gutters position-relative mb-3 justify-content-center text-justify">
        <div class="col-md-6 col-lg-4 mb-md-0 p-md-4">
            <img src="https://via.placeholder.com/320x180" class="w-100 ml-sm-3" alt="...">
        </div>
        <div class="col-md-6 position-static p-4">
            <p class="lead">{{ data.body }}</p>
            <p>{{ data.body }}</p>
            <p>{{ data.body }}</p>
            <p class="small text-secondary">post id: {{ data.id }}</p>
        </div>
    </div>
</div>

<!-- sharing data between component -->
<app-image-card [imageSrc]="photos"></app-image-card>

<ng-template #showCommentsButton>
    <div class="container mb-5">
        <button class="btn btn-info btn-lg btn-block" (click)="toggleShowHide()"><b>{{ showHide }}</b> Comment section:
            ({{ commentsNumber }})
        </button>
    </div>
</ng-template>
<ng-content *ngIf="!showButton; else showCommentsButton" select="[]"></ng-content>
<!--<div *ngTemplateOutlet="showCommentsButton"></div>-->

<div class="container" [hidden]="!commentsShow">
    <div *ngFor="let comment of comments" class="media shadow p-3 mb-5 bg-white rounded p-2 m-3">
        <img src="https://via.placeholder.com/80" class="mr-3 rounded-circle" alt="...">
        <div class="media-body">
            <p class="mt-0 lead"><i class="fa fa-lg fa-user mr-1"></i>Commented by:<b> {{ comment.name | titlecase | emailPointer }} </b></p>
            <p class="lead small text-secondary"><i class="fa fa-lg fa-paper-plane"> </i> <a class="pl-1 text-info" href="mailto:{{ comment.email }}">{{ comment.email | uppercase }}</a></p>
            <p>{{ comment.body | titlecase }}</p>
            <p class="small text-secondary"><i class="fa fa-lg fa-clock-o"></i> {{ comment.id }} min ago... </p>
        </div>
    </div>
</div>

