<ng-container #postSection>
<div *ngFor="let data of post" class="container-fluid row justify-content-center">
    <h5 class="mt-0 display-3 text-center">{{ data.title | titlecase }}</h5>
    <div class="row no-gutters position-relative mb-3 justify-content-center text-justify">
        <div class="col-md-6 col-lg-4 mb-md-0 p-md-4">
            <img src="https://via.placeholder.com/320x180" class="w-100 ml-sm-3" alt="...">
        </div>
        <div class="col-md-6 position-static p-4">
            <p class="lead">{{ data.body }}</p>
            <p>{{ data.body }}</p>
            <p>{{ data.body }}</p>
            <p class="small text-secondary">post id: {{ data.id }}</p>
        </div>
    </div>
</div>
</ng-container>

<!-- sharing data between component -->
<app-image-card [imageSrc]="photos"></app-image-card>

<ng-template #showCommentsButton>
    <div class="container">
        <button class="btn btn-info btn-lg btn-block" (click)="toggleShowHide()"><b>{{ showHide }}</b> Comment section </button>
    </div>
</ng-template>
<ng-content *ngIf="!showButton; else showCommentsButton" select="[]"></ng-content>
<!--<div *ngTemplateOutlet="showCommentsButton"></div>-->

<ng-container>
    <div class="container" [hidden]="!commentsShow">
        <div *ngFor="let comment of comments" class="media shadow p-3 mb-5 bg-white rounded p-2 m-3">
            <img src="https://via.placeholder.com/80" class="mr-3 rounded-circle" alt="...">

            <div class="media-body">
                <p class="mt-0 lead">Commented by: <b> {{ comment.name | titlecase }} </b></p>
                <p>mail to: <a href="mailto:{{ comment.email }}">{{ comment.email | emailPointer}}</a></p>
                {{ comment.body }}
                <p class="small text-secondary"> {{ comment.id }} min ago... </p>
            </div>
        </div>
    </div>
</ng-container>

