<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item small">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item small">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item small">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
</nav>
